body,
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background: url(../images/login_bg.jpg) no-repeat;
    background-size: cover;
}

.content {
    /* 绝对定位至屏幕中间 */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 310px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 0 30px;
}

.title {
    height: 60px;
    display: flex;
    /* 主盒子设置flex */
    justify-content: center;
    align-items: center;
}

.link a {
    float: right;
}

.layui-form-item {
    position: relative;
}

.layui-icon {
    position: absolute;
    left: 10px;
    top: 10px;
}

.layui-input {
    padding: 0 35px;
}